.hero {
    background-image: 
        linear-gradient(rgba(89, 159, 245, 0.586), rgba(0, 80, 180, 0.5)),
        url('https://lh3.googleusercontent.com/gps-cs-s/AHVAweo7GAk8ZPizBddo_t-Vyn2yH0ADFVEPAdR_oA8lLG7u-QthSXNo7kstOefAIqWGGcbvmguiUm92NtEqGY1u_z0AsIfdmPLtcPT0z569l87c9M9zTIE20DePSHlQ1piu18hKcrS8=s1360-w1360-h1020-rw');
    background-size:cover;
    background-position: center 82%;
    height: 80vh;
}
