/* input[type="file"] {
    position: absolute;
    color: white;
    z-index: 998;
    background-color: #cb2828a1; */
    /* display: none; */
    /* height: 10em; */
    /* width: 6.5rem;
    height: 6.5rem;
    border-radius: 100px;
} */

/* input[file],#file-upload-button{
    background-color: white;
} */