/* hidden by default */
.modalOverlay {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    background-color: white;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    top: 10%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0px 10px 10px 1000px rgb(0 0 0 / 88%);
    border-radius: 5px;
}

/* modal animation start position */
.modalForm {
    transform: translateY(-40px);
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

/* show modal */
.modalOverlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modalOverlay.active .modalForm {
    transform: translateY(0);
    opacity: 1;
}

/* exit animation */
.modalOverlay.closing .modalForm {
    transform: translateY(-40px);
    opacity: 0;
}

.modalHeader,
.modalFooter {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modalFooter {
    border-top: 1px solid #eee;
    border-bottom: none;
    justify-content: flex-end;
    gap: 10px;
}

.modalBody {
    padding: 15px;
}

.closeBtn {
    cursor: pointer;
    font-size: 20px;
}
