.eye:hover {
    cursor: pointer;
}
.bi-eye{
    content: "\f341";
    position: fixed;
    padding: 9px;
    margin-left: -40px;
}
.bi-eye-slash{
    content: "\f343";
    position: fixed;
    padding: 9px;
    margin-left: -40px;
}